<% if @teams.empty? %>
  <h1>Ain't got no Teams, Dude.</h1>
  <h1>Just gotta Deal I guess</h1>
<% else %>
  <h2>Teams:</h2>

  <% @teams.each do |team| %>
    <p>Team Number: <%= link_to "#{team.team_number}", hunt_team_path(id: team, hunt_id: params[:hunt_id]) %></p>
    <p>Path: <%= team.path %></p>
    <p>Hunt ID: <%= team.hunt_id %></p>
  <% end %>
<% end %>
