<h2>Teams</h2>
  <% if @teams.empty? %>
    <h3>Ain't got no teams, dude.</h3>
    <p>Just gotta deal I guess</p>
  <% else %>
    <% @teams.each do |team| %>
    <% end %>
  <% end %>
  <p class="note"><%= link_to "Team #{team.team_number}", hunt_team_path(id: team, hunt_id: params[:hunt_id]) %></p>
