<div style="background:#1235b7;padding:10px;margin:-10px;height:100%;">
  <img src="/assets/logo.png" style="margin:40px 40px 0 40px;">
  <div style="border-top:10px solid red;">
    <div style="border-radius:10px;width:60%;margin:100px auto;height:50%;">
      <div style="text-transform:uppercase;text-align:center;padding-top:50px;color:#fff;font-family:'Ubuntu',sans-serif;">
        <p style="margin:50px;font-size:4em;">Teams Information:</p>
        <p style="margin:50px;font-size:3em;">Team Number: <%= @team.team_number %></p>
        <p style="margin:50px;font-size:3em;">Clue?:</p>
      </div>
      <center>
        <%= form_for @team, url: "#{hunt_team_path(hunt_id: @hunt.id, id: @team.id)}" do |f|%>
          <input id="latitude" name="team[latitude]" type="hidden" />
          <input id="longitude" name="team[longitude]" type="hidden" />
          <p><%= f.submit value="We're Here!", {:style=>'width:50%;margin:0 auto;border-radius:25px;background:#FF980D;padding:30px;font-size:2em;text-align:center;text-transform:uppercase;text-decoration:none;font-family:"Ubuntu",sans-serif;color:#fff;'} %>
        <% end %>
      </center>
      <div style="width:50%;margin:50px auto;text-align:center;"><%= link_to "Home", root_path, {:style=>'color:fff;text-decoration:none;font-size:2em;'} %>
      </div>
    </div>
  </div>
</div>
