<!-- <div style="background:#1235b7;padding:10px;margin:-10px;height:100%;">
  <img src="/assets/logo.png" style="margin:40px 40px 0 40px;">
  <div style="border-top:10px solid red;">
    <div style="text-transform:uppercase;text-align:center;padding-top:50px;margin:100px 50px;">
    <div style="text-transform:uppercase;text-align:center;padding-top:50px;">
      <p style="margin:50px;font-size:4em;color:#fff;font-family:'Ubuntu',sans-serif;">Active Hunts</p>
      <p style="margin:50px;font-size:3em;color:#fff;font-family:'Ubuntu',sans-serif;">Select the hunt you wish to join:</p>
  </div> -->
      <center>
      <% @hunts.each do |hunt| %>
        <%= link_to "#{hunt.name.titleize}", hunt_teams_path(hunt) %>
        <% end %>
      </center>
      <div>
        <%= link_to "Home", root_path %>
      </div>
    <!-- </div>
  </div>
</div> -->
