    <div style="border-radius:10px;width:60%;margin:100px auto;height:50%;">
      <div style="text-transform:uppercase;text-align:center;padding-top:50px;margin:100px 50px;">
        <p style="margin:50px;font-size:4.5em;color:#fff;font-family:'Ubuntu',sans-serif;">Ready to scavenge?</p>
        <h1 style="margin:50px;"><%= link_to "Join A Hunt", hunts_path, {:style=>'margin:0 auto;border-radius:25px;background:#FF980D;padding:30px;font-size:1.5em;text-align:center;text-transform:uppercase;text-decoration:none;font-family:"Ubuntu",sans-serif;'} %></h1>
      </div>
    </div>
