html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: #1235b7;
  font-family: 'Helvetica', sans-serif;
}

a {
  color: #474747;
  text-decoration: none;
}

a:hover {
  color: #FF980D;
}

h2 {
  text-transform: uppercase;
}

nav {
  background: #0381e8;
  margin: 0;
  padding: 5px 150px;
  font-size: .8em;
  text-align: right;
  text-transform: uppercase;
}

header {
  width: 80%;
  margin: 10px auto 0 auto;
  padding: 0;
  background-image: url('denver.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.main {
  width: 80%;
  min-height: 400px;
  margin: -4px auto 0 auto;
  background-image: url('logo_sidebar.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.content {
  background: #fff;
  border: 2px solid #FF1A14;
  margin-left: 300px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#teams {
    background: #fff;
    border: 2px solid #FF1A14;
    border-radius: 5px;
}

.note {
  color: #b8b8b8;
  font-size:.8em;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

.big-orange-button {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  background: #FF980D;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

.small-orange-button {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background: #FF980D;
  padding: 10px;
  font-size: .7em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}

.big-orange-button a, .small-orange-button a {
  color: #fff;
}

.big-orange-button a:hover, .small-orange-button a:hover {
  color: #FFF01B;
}

.hunt, .locations {
  border-bottom: 1px solid #FFF01B;
}

.hunt-locations {
  font-size: .9em;
  color: #b8b8b8;
}
